{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>odinBlogs</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
   
    <!-- JAVASCRIPT -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


  </head>

  <body>

     <!-- HAMBURGER MENU -->
     <div class="navigation d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none">
      <div class="container">
        <nav class="container row align-items-start">
          <div class="col-sm-3 col-md-8 navBarElements">
              <ul>
                <li><a href="{% url 'index'  %}"><b>home</b></a></li>
                <li><a href="{% url 'about'  %}"><b>about</b></a></li>
                <li><a href="{% url 'blog'  %}"><b>blog</b></a></li>
                <li><a href="{% url 'collegeblog'  %}"><b>college</b></a></li>
                <li><a href="{% url 'job'  %}"><b>jobs</b></a></li>
              </ul>
          </div>
          <div class="col-sm-6 col-md-8 aboutInNavBar">
            <span class="aboutOdin"><b>About OdinAI</b></span><br>
            OdinAI is here to help.
            We help you efficiently learn Deep Learning and get that Deep Learning job!
          </div>
          <div class="col-sm-3 col-md-8 contactInNavBar">
              <span class="contactInfo"><b>Contact</b></span><br>
              
                <a href="#">hello@odinai.org</a><br>
                <a href="#">LinkedIn</a>
              
          </div>
        </nav>
      </div>
    </div>
    <div class="menu d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none">
      <div>
        <div class="menu-trigger">
          <div class="bar bar--1"></div>
          <div class="bar bar--2"></div>
          <div class="bar bar--3"></div>
        </div>
        
        
      </div>
      
    </div> 
    
  
    <!-- NAVIGATION BAR -->
    <div class="d-none d-lg-block d-xl-none d-none d-xl-block">
      <div class="navigationfull row">
          <div class="col-md-0 col-lg-1 col-xl-1 navBarElements"></div>
          <div class="col-md-2 col-xl-1 navBarElements justify-content-end align-items-center">
              <img src="{% static 'images/odinai-transparent.png' %}" class="odinAILogoNavBar"/>
          </div>
          <div class="col-md-3 col-xl-4 navBarElements"></div>
          <div class="col-md-1 col-xl-1 navBarElements d-flex justify-content-center align-items-center">
            <a href="{% url 'index'  %}">home</a>
          </div>
          <div class="col-md-1 col-xl-1 navBarElements d-flex justify-content-center align-items-center">
            <a href="{% url 'about'  %}">about</a>
          </div>
          <div class="col-md-1 col-xl-1 navBarElements d-flex justify-content-center align-items-center">
            <a href="{% url 'blog'  %}">blog</a>
          </div>
          <div class="col-md-1 col-xl-1 navBarElements d-flex justify-content-center align-items-center">
            <a href="{% url 'collegeblog'  %}">college</a>
          </div>
          <div class="col-md-1 col-xl-1 navBarElements d-flex justify-content-center align-items-center">
            <a href="{% url 'job'  %}">jobs</a>
          </div>
          <div class="col-md-0 col-lg-1 col-xl-1 navBarElements"></div>
      </div>
    </div>

    <!-- PAGE 2: BLOG & COLLEGE POSTS  -->

    <div class="blogPostsContainer d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none">
        <div class="container blogPage">
          <div class="row align-items-end bp1">
            <div class="col"></div>
            <div class="col-10">
                    What's OdinAI all about?<hr/>
            </div>
            <div class="col"></div>
          </div>
    
          <div class="row bp2SM">
                <div class="col"></div>
                <div class="col-10 col-10">
                        OdinAI is here to help. We help you get better at Deep Learning and connect you with opportunities. 
                        Our content is divided into two major themes:<br><br>
                        <div class="row">
                            <div class="col-12 col-12 aboutListSM align-self-center">#1</div>
                            <div class="col-12 col-12 align-self-center">Deep Learning how to’s and much more.</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 col-12 aboutListSM ">#2</div>
                            <div class="col-12 col-12 align-self-center">
                            Content created by college graduates and seniors who are currently either working in 
                            Deep Learning or pursuing research (or just involved in DL) / who currently work in 
                            Deep Learning, detailing methods to efficiently learn Deep Learning at particular colleges 
                            (and making the best use of a college’s resources). Details on what courses to take, clubs 
                            to join, what professors to work under, and all the other tid-bits only a college graduate 
                            knows. Essentially, a Deep Learning survival guides for different schools.
                            </div>
                        </div>
                </div>
                <div class="col"></div>
              </div>
    
        </div>


        <div class="container blogPage">
            <div class="row bp1">
                <div class="col"></div>
                <div class="col-10 col-10">
                        Contributers<hr/>
                </div>
                <div class="col"></div>
            </div>
            <div class="row bp2SM">
                <div class="col"></div>
                <div class="col-10 col-10">
                        Made with ♥ for you by students and alumni from various universities, NIT Trichy, IIT Madras, PICT -- and counting
                    
                </div>
                <div class="col"></div>
            </div>
            <br>
            <div class="row bp1">
                
                <div class="col"></div>
                <div class="col-10 col-10">
                        Why Odin?<hr/>
                </div>
                <div class="col"></div>
            </div>
            <div class="row bp2SM">
                <div class="col"></div>
                <div class="col-10 col-10">
                        All-father. Badass. Norse god of wisdom and knowledge. 
                    A defining feature of Odin is his' being one-eyed, a result of him having sacrificed 
                    his right eye to drink from the Well of Urðr, 
                    which granted him an incomprehensible amount of knowledge of the universe.
                    
                </div>
                <div class="col"></div>
            </div>
        </div>


        <div class="container blogPage">
            <div class="row bp1">
                <div class="col"></div>
                <div class="col-10 col-10">
                        People
                    <hr/>
                </div>
                <div class="col"></div>
            </div>

            <div class="row bp2SM">
                    <div class="col"></div>
                <div class="col-10 col-10">
                    <div class="row">
                        <div class="col-4  aboutList align-self-center"><img src="{% static 'images/sudu.jpg' %}" class="peopleImage"></div>
                        <div class="col-0"></div>
                        <div class="col-8  align-self-center namePeopleSM">Sudharshan Chandra Babu<br><span class="peopleDesignationSM">Founder</span></div>
                    </div> 
                    <br>
                    <div class="row">
                            <div class="col-4  aboutList align-self-center"><img src="{% static 'images/naga.jpg' %}" class="peopleImage"></div>
                            <div class="col-0"></div>
                            <div class="col-8  align-self-center namePeopleSM">Nagaraj Archak<br><span class="peopleDesignationSM">Web Development Lead</span></div>
                        </div>
                </div>
                <div class="col"></div>
            </div>

        </div>




      </div>

    <!-- PAGE 2: BLOG & COLLEGE POSTS for XL -->

    <div class="blogPostsContainer d-none d-lg-block d-xl-none d-none d-xl-block">
        <div class="container blogPage">
          <div class="row bp1xl">
            <div class="col-xl-12 col-lg-12">
                    What's OdinAI all about?
                <hr/>
            </div>
          </div>
          <div class="row bp2xl">
            <div class="col-xl-12 col-lg-12">
                    OdinAI is here to help. We help you get better at Deep Learning and connect you with opportunities. 
                    <br>Our content is divided into two major themes:<br><br>
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 aboutList align-self-center">#1</div>
                        <div class="col-xl-10 col-lg-10 align-self-center">Deep Learning how to’s and much more.</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 aboutList ">#2</div>
                        <div class="col-xl-10 col-lg-10 align-self-center">
                        Content created by college graduates and seniors who are currently either working in 
                        Deep Learning or pursuing research (or just involved in DL) / who currently work in 
                        Deep Learning, detailing methods to efficiently learn Deep Learning at particular colleges 
                        (and making the best use of a college’s resources). Details on what courses to take, clubs 
                        to join, what professors to work under, and all the other tid-bits only a college graduate 
                        knows. Essentially, a Deep Learning survival guides for different schools.
                        </div>
                    </div>
            </div>
          </div>
        </div>

        <div class="container blogPage">
        <div class="row bp1xl">
            <div class="col-xl-5 col-lg-5">
                    Contributers
                <hr/>
            </div>
            <div class="col-xl-2 col-lg-2"></div>
            <div class="col-xl-5 col-lg-5">
                Why Odin?
                <hr/>
            </div>
        </div>
        <div class="row bp2xl">
            <div class="col-xl-5 col-lg-5">
                Made with ♥ for you by students and alumni from various universities, NIT Trichy, IIT Madras, PICT -- and counting
                    
            </div>
            <div class="col-xl-2 col-lg-2"></div>
            <div class="col-xl-5 col-lg-5">
                All-father. Badass. Norse god of wisdom and knowledge. 
                A defining feature of Odin is his' being one-eyed, a result of him having sacrificed 
                his right eye to drink from the Well of Urðr, 
                which granted him an incomprehensible amount of knowledge of the universe. 
            </div>
        </div>
        </div>

        <div class="container blogPage">
        <div class="row bp1xl">
            <div class="col-xl-12 col-lg-12">
                    People
                <hr/>
            </div>
        </div>
        <div class="row bp2xl">
            <div class="col-xl-12 col-lg-12">
                    <div class="row">
                        <div class="col-xl-1 col-lg-1 aboutList align-self-center"><img src="{% static 'images/sudu.jpg' %}" class="peopleImage"></div>
                        <div class="col-xl-5 col-lg-5 align-self-center">Sudharshan Chandra Babu<br><span class="peopleDesignation">Founder</span></div>
                        
                        <div class="col-xl-1 col-lg-1 aboutList align-self-center"><img src="{% static 'images/naga.jpg' %}" class="peopleImage"></div>
                        <div class="col-xl-5 col-lg-5 align-self-center">Nagaraj Archak<br><span class="peopleDesignation">Web Development Lead</span></div>
                        
                    </div>
                </div>
        </div>
        </div>

</div>

  <!-- FOOTER -->

  <div class="footerContainer d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none">
    <div class="container footerPage">
      <div class="row align-items-end fp1">
        <div class="col"></div>
        <div class="col-10">
          About OdinAI
        </div>
        <div class="col"></div>
      </div>
      <div class="row align-items-end fp2">
        <div class="col"></div>
        <div class="col-10">
            We help you efficiently learn Deep Learning and get that Deep Learning job. 
        </div>
        <div class="col"></div>
      </div>

      <div class="row align-items-end fp3">
          <div class="col"></div>
          <div class="col-10">
            Say hi!
          </div>
          <div class="col"></div>
        </div>
        <div class="row align-items-end fp4">
          <div class="col"></div>
          <div class="col-10">
              Feel free to get in touch with us at hello@odinai.org
          </div>
          <div class="col"></div>
        </div>
    </div>
  </div>

  <!-- FOOTER for XL -->

  <div class="footerContainerXL d-none d-lg-block d-xl-none d-none d-xl-block">
      <div class="container footerPageXL">
        <div class="row fp1xl">
          <div class="col-5 title">
            OdinAI?
          </div>
          <div class="col-2"></div>
          <div class="col-5 title">
            Say hi!
          </div>
        </div>
        <div class="row fp2xl">
          <div class="col-5 content">
              All-father. Badass. Norse god of wisdom and knowledge. A defining feature of Odin is his' being one-eyed, a result of him having sacrificed his right eye to drink from the Well of Urðr, which granted him an incomprehensible amount of knowledge of the universe. 
          </div>
          <div class="col-2"></div>
          <div class="col-5 content">Feel free to get in touch with us at hello@odinai.org</div>
        </div>
      </div>
    </div>
  
    <script>

        //SIDE NAVIGATION BAR
        $(document).ready(function(){
          function openMenu() {
            $(".menu-trigger").addClass("open");
            $(".navigation").addClass("nav-open");
            $(".col-sm-3").addClass("c-in");
            $(".col-sm-6").addClass("c-in");
          }
          function closeMenu() {
            $(".menu-trigger").removeClass("open");
            $(".navigation").removeClass("nav-open");
            $(".col-sm-3").removeClass("c-in");
            $(".col-sm-6").removeClass("c-in");
          }
          $(".menu-trigger").click(function(){
            if($(".menu-trigger").hasClass("open")) {
              closeMenu();
            }
            else {
              openMenu();
            }
          });
          $("main").click(function(){
            if($(".menu-trigger").hasClass("open")) {
              closeMenu();
            }
          });
          $(document).keyup(function(e) {
              if (e.keyCode == 27) {
                closeMenu();
              }
          });
        });
    
      </script>

  </body>

</html>
{% endblock %}
